.hero__content {
    display: flex;
    margin-top: 24px;
    gap: 24px;
}

.hero__cards--small {
    width: 227px;
    padding: 24px;
}

.hero__cards--medium {
    max-width: 376px;
    padding: 24px;
}

.hero__cards--large {
    width: 376px;
    padding: 24px;
}

.hero__card-pfp {
    width: 179px;
    height: 179px;
}

.hero__card-title {
    font-size: 20px;
    margin-top: 18px;
    font-weight: 500;
}

.hero__card-name--spaced {
    display: flex;
    align-items: center;
    margin-top: 26px;
}

.hero__card-name {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.hero__card-text {
    overflow: hidden;
    text-overflow: ellipsis; 
    font-size: 14px;
}

.hero__card-info {
    display: flex;
    justify-content: space-between;
}

.hero__card-info.mt26 {
    margin-top: 26px;
}

.hero__card-info.mt12 {
    margin-top: 12px;
}

.card {
    display: flex;
    align-items: center;
}

.card::before {
    content: '';
    background-image: url(../img/student_personal_page_three_points.svg);
    width: 25px;
    height: 4px;
    display: inline-block;
    margin-right: 8px;
}

.mt24 {
    margin-top: 24px;
}

.hero__button-group {
    display: flex;
    gap: 16px;
    align-items: center;
    margin-top: 10px;
}

.payment__icons {
    display: flex;
    margin-top: 26px;
    gap: 12px;
}

@media (max-width: 1200px) {
    .hero__info {
        width: calc(100% - 251px);
    }

    .hero__cards--large {
        width: 100%;
    }

    .hero__content {
        flex-wrap: wrap;
        min-width: 0;
    }
    .hero__cards--medium {
       display: flex;
    }

    .payment__icons {
        flex-wrap: wrap;
    }

    .hero__cards--medium {
        max-width: 411px;
    }
}

@media (max-width: 740px) {
    .hero__content{
        flex-direction: column;
        gap: 12px;
    }
    
    .hero__cards--small {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .hero__card-pfp {
        max-width: 123px;
        max-height: 123px;
    }

    .hero__card-name--spaced {
        width: 150px;
    }

    .hero__info {
        width: 100%;
    }

    .hero__cards--medium {
        max-width: 100%;
        justify-content: space-between;
    }
    
    .hero__card-information {
        width: 200px;
    }

    .hero {
        margin-bottom: 87px;
    }

}