.hero__cards.courses {
    width: 406px;
    display: flex;
    flex-direction: column;
}

.container__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 24px;
}

.hero__cards-title {
    color: #181818;
    font-weight: 500;
    font-size: 20px;
    margin-top: 22px;
}

.hero__cards-year {
    color: #181818;
    font-size: 21px;
    font-weight: 600;
    margin-top: 16px;
}

.hero__cards-date {
    display: flex;
    align-items: center;
    font-weight: 300;
    color: #C7C7CC;
}

.hero__cards.btn {
    background-color: var(--main-bg-color);
    padding: 14px;
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.hero__cards__btn-title {
    color: #F8F8F8;
    font-weight: 500;
    font-size: 12px;
}

.hero__cards__btn-text {
    color: #F8F8F8;
    font-weight: 500;
    font-size: 16px;
    margin-top: 5px;
}

.hero__card-input {
    display: flex;
    max-width: 106px;
    box-sizing: border-box;
}

.filter-item {
    padding: 6px 0;
}

.custom-select {
    margin-top: 10px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: #F8F8F8;
    border: none;
    border-radius: 5px;
    padding: 9.5px 12px;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    color: #8E8E93;
}

.custom-select {
    background-image: url('img/Arrow.svg');
    background-repeat: no-repeat;
    background-position: right 10px center;
    padding-right: 12px;
}


.rc-slider {
    position: relative;
    width: 100%;
    height: 10px;
    margin: 20px 0;
}

.rc-slider-rail {
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: #8E8E93;
    border-radius: 5px;
    
}

.rc-slider-track {
    position: absolute;
    height: 4px;
    background-color: var(--main-bg-color);
    border-radius: 5px;
}

.rc-slider-handle {
    position: absolute;
    width: 12px;
    height: 12px;
    background: var(--main-bg-color);
    border-radius: 10px;
    cursor: pointer;
    top: -4px;
    transform: translateX(-50%);
}
