html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: Rubik400;
    background-color: #f4f7ff;
}

:root {
    --main-bg-color: #0A84FF;
}

@font-face {
    font-family: 'Rubik400';
    src: url(../font/Rubik.ttf);
    font-weight: 300, 400, 500, 600;
}

.clearbtn {
    all: unset;
    cursor: pointer;
}

.flex {
    display: flex;
}

.no-scroll {
    overflow: hidden;
    height: 100%;
}

.course__tag-text {
    background-color: #F8F8F8;
    padding: 10px 12px;
    border-radius: 9px;
    font-size: 14px;
    color: var(--main-bg-color);
    white-space: nowrap;
}

/*
    HEADER SECTION
*/

.header {
    background-color: #ffffff;
    padding: 16px 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e4e4e4;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;
}

.header__logo {
    display: flex;
}

.header__logo-image {
    margin-right: 12px;
}

.header__logo-text {
    font-size: 32px;
    color: var(--main-bg-color);
    font-weight: 500;
}

.header__actions {
    display: flex;
    align-items: center;
}

.header__icons {
    display: flex;
    margin-right: 32px;
    gap: 20px;
}

.header__nav {
    width: 24px;
    height: 24px;
    cursor: pointer;
    border: none;
    display: none;
    place-items: center;
    position: relative;
    padding: 0;
    background-color: #fff;
    opacity: .7;
}

.header__nav span {
    width: 100%;
    height: 3px;
    background-color: #8E8E93;
}

.header__nav.open span {
    position: absolute;
}

.header__nav.open span:first-child {
    transform: rotate(45deg);
}

.header__nav.open span:nth-child(2) {
    transform: scaleX(0);
}

.header__nav.open span:last-child {
    transform: rotate(-45deg);
}


/*
    SIDEBAR SECTION
*/

.sidebar {
    padding: 12px;
    width: 235px;
    position: fixed;
    height: 100%;
    top: 82px;
    background-color: #fff;
}

.sidebar__link {
    text-decoration: none;
}

.sidebar__panel {
    display: flex;
    border-radius: 10px;
    padding: 10px 18px;
    margin-bottom: 8px;
}

.sidebar__icon {
    margin-right: 12px;
    width: 24px;
    height: 24px;
}

.sidebar__text {
    font-weight: 400;
    color: #8E8E93;
    align-self: center;
}

.sidebar__panel[data-active="true"]  {
    background-color: #F8F8F8; 
}

.sidebar__divider {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #F8F8F8;
    margin: 8px 0;
}

/*
    HERO SECTION
*/

.hero {
    padding-top: 75px;
    margin-left: 235px;
}

.hero__container {
    padding: 22px;
}

.hero__layout {
    background-color: #fff;
    padding: 24px;
    border-radius: 14px;
}

.hero__title {
    color: #000;
    font-weight: 500;
    font-size: 24px;
    margin-top: 13px;
}

.hero__description {
    color: #8E8E93;
    font-size: 18px;
    font-weight: 400;
    max-width: 720px;
    line-height: 24px;
    margin-top: 10px;
}

.hero__hello {
    display: flex;
}

.hero__img {
    margin-right: 12px;
}

.hero__nav {
    background-color: #fff;
    gap: 6px;
    display: none;
    flex-direction: column;
    padding: 24px 16px;
    width: 100%;
    position: fixed;
    top: 75px;
    transform-origin: top;
    transform: scaleY(0);
}

.hero__nav.open {
    transform: scaleY(1); 
}

.hero__nav-item {
    display: flex;
    align-items: center;
    padding: 10px 18px;
    text-decoration: none;
}

.hero__nav-label {
    color: #8E8E93;
    font-size: 16px;
    margin-left: 12px;
}

.info__box {
    margin-top: 22px;
    margin-left: 14px;
    font-size: 24px;
}

.main__btn {
    display: flex; 
    padding: 10px 16px; 
    justify-content: center; 
    align-items: center; 
    border-radius: 10px;
}

/*
    FOOTER
*/

.footer {
    display: none;
    justify-content: space-between;
    padding: 22px;
    z-index: 10;
}

.footer__links {
    display: flex;
}


/*
    MEDIA
*/

@media (max-width: 950px) {
    .sidebar {
        max-width: 84px;
    }

    .sidebar__text {
        display: none;
    }

    .hero {
        margin-left: 84px;
    }
}

@media (max-width: 768px) {
    .hero__hello {
        display: block;
    }
}

@media (max-width: 450px) {
    .hero {
        margin-left: 0;
    }

    .hero__hello {
        display: block;
    }

    .sidebar {
        display: none;
    }

    .header__actions {
        display: none;
    }

    .footer__nav {
        display: flex;
        justify-content: space-between;
        
    }

    .footer {
        display: block;
        position: fixed;
        bottom: 0;
        width: 100%;
        background-color: #fff;
    }
    
    .footer__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none;
    }

    .footer__icon {
        width: 24px;
        height: 24px;
        margin-bottom: 4px;
    }

    .footer__icon.pfp {
        border-radius: 50%;
    }

    .footer__label {
        color: #8E8E93;
        font-size: 13px;
    }

    .footer__label[data-active="true"]  {
        color: var(--main-bg-color); 
    }

    .header__nav {
        display: grid;
    }

    .hero__nav {
        display: flex;
    }
}