input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.custom-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url('../../../assets/img/Cousrses-Arrow.svg');
    background-repeat: no-repeat;
    background-position: right 12px center;
    background-size: 12px;
}
.input__checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .input__check input[type="checkbox"] {
    display: none;
}

.input__check input[type="checkbox"] + label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
}

.input__check input[type="checkbox"] + label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    border: 0.088rem solid #AEAEB2;
    border-radius: 6px;
}

.input__check input[type="checkbox"]:checked + label::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background: #007AFF;
    border-radius: 6px;
    background-image: url('../../../assets/img/Courses-Check.svg');
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 10px;
}